In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
text = ["Learing Python programmig is fast as Python is easy","Python is great programmig language","Mustafa will marrey soon  "]

max_feature = 100

count_vaectorize = CountVectorizer(max_features=max_feature)

vectors = count_vaectorize.fit_transform(text)

print(count_vaectorize.get_feature_names_out())
print(vectors)

['as' 'easy' 'fast' 'great' 'is' 'language' 'learing' 'marrey' 'mustafa'
 'programmig' 'python' 'soon' 'will']
<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 16 stored elements and shape (3, 13)>
  Coords	Values
  (0, 6)	1
  (0, 10)	2
  (0, 9)	1
  (0, 4)	2
  (0, 2)	1
  (0, 0)	1
  (0, 1)	1
  (1, 10)	1
  (1, 9)	1
  (1, 4)	1
  (1, 3)	1
  (1, 5)	1
  (2, 8)	1
  (2, 12)	1
  (2, 7)	1
  (2, 11)	1

In [15]:
import pandas as pd

In [16]:
df =pd.DataFrame(vectors.toarray(),columns=count_vaectorize.get_feature_names_out())
df

   as  easy  fast  great  is  language  learing  marrey  mustafa  programmig  python  soon  will
0   1     1     1      0   2         0        1       0        0           1       2     0     0
1   0     0     0      1   1         1        0       0        0           1       1     0     0
2   0     0     0      0   0         0        0       1        1           0       0     1     1